# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.parquet
*.pkl
*.h5
*.xlsx
*.csv
*.log
*.json
*.pdf

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/
Flights/
Statistics/
Pictures/
ML/
Excel/

# Virtual environment
.venv/
.env
*.env

# OS
.DS_Store
Thumbs.db
